*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

main{
    background: linear-gradient(219deg, #8da9c4 0%, #13315c 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vb;
}
.container{
    background-color: #eef4ed;
    height: 100%;
    width: 80vb;
    padding: 10px 50px;
    border-radius: 30px;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1{
    color: #134074;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    font-size: 60px;
    margin: 20px 0;
}
.status{
    display: flex;
    justify-content: center;
}
#msg{
    color: #0b2545cd;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;
}

button{
  all: unset;
  cursor: pointer; 
}

.game{
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    padding: 20px;
    gap: 10px;
    margin: 40px auto;
    box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(219deg, #8da9c4 0%, #13315c 100%);
    border-radius: 30px;
}

.cell{
    border-radius: 10px;
    background-color: #eef4ed;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-size: 120px;
    font-weight: 800;
    color: #134074;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.cell:hover{
    transform: scale(1.03);
    background-color: #eef4eddb;
}

.reset{
    color: #eef4ed;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 9px rgba(19, 64, 116, 0.3);
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
    background: linear-gradient(219deg, #8da9c4 0%, #13315c 100%);
    margin: 20px 0;
    padding: 15px 30px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.reset:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 11px rgba(19, 64, 116, 0.5);
}

.score-board{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    font-weight: 400;
}
.score-label{
    color: #0b2545cd;
    font-size: 18px;
    margin: 5px;
}
.score-value{
    font-size: 50px;
    color: #0b2545dc;
    font-weight: 600;
}